**/*.rs.bk
**/target/
**/*.profraw
*.sw[op]

.git/
.github/
dev-support/
!dev-support/bin/install-deps/
!dev-support/lib

.clang-format
.codespellrc
.dockerignore
.editorconfig
.envrc
.gitignore
.pre-commit-config.yaml
.prettierignore
.tokeignore
CHANGELOG.md
commitlint.config.js
deny.toml
flake.lock
flake.nix
README.md
rustfmt.toml
shell.nix
tarpaulin.toml
requirements.txt
dev-requirements.txt
